<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://use.fontawesome.com/d56d673749.js"></script>
</head>
<body>

{{> "./index-content.hbs"}}

</body>
</html>
