
<div class="wrapper">
    <div id="map" class="google-map"></div>
    <div class="modal">
        <header class="modal__header">
            <div class="modal__title">
                <i class="fa fa-map-marker location-icon" aria-hidden="true"></i>
                <span class="modal__title-text"></span>
            </div>
            <i class="fa fa-times close-button" aria-hidden="true"></i>
        </header>
        <section class="comments">
            <ul class="comments__list">

            </ul>
        </section>
        <section class="add-comment">
            <div class="add-comment__title">
                Ваш отзыв
            </div>
            <input type="text" class="add-comment__input userName" placeholder="Укажите Ваше имя">
            <input type="text" class="add-comment__input locationName" placeholder="Укажите место">
            <textarea placeholder="Оставьте Ваш отзыв"  name="text" id="comment-text" cols="30" rows="10" class="add-comment__text"></textarea>
        </section>
        <footer class="modal__footer">
            <button class="add-button">Добавить</button>
        </footer>
    </div>

    <div class="slider">
        <div class="slider__header">
            <div class="slider__title">
                Шоколадница
            </div>
            <i class="fa fa-times close-slider" aria-hidden="true"></i>
        </div>
        <div class="location-title">Рабочая, 16</div>
        <section class="comments">
            <ul class="comments__list comments__list--slider">
                <li class="comments__item">
                    <span class="comments__name">12312312</span>
                    <span class="comments__info">1231312</span>
                    <span class="comments__info">123123123</span>
                    <div class="comments__block">
                        12312фывпывпывп
                    </div>
                </li>
            </ul>
        </section>
        <footer class="slider__footer">
            <ul class="markers">
                <li class="markers__item">1</li>
                <li class="markers__item">2</li>
            </ul>
        </footer>
        <i class="fa fa-angle-left previous-slide" aria-hidden="true"></i>
        <i class="fa fa-angle-right next-slide" aria-hidden="true"></i>
    </div>
</div>
