
<div class="wrapper">
    <div id="map" class="google-map"></div>
    <div class="modal">
        <header class="modal__header">
            <div class="modal__title">
                <i class="fa fa-map-marker location-icon" aria-hidden="true"></i>
                <span class="modal__title-text"></span>
            </div>
            <i class="fa fa-times close-button" aria-hidden="true"></i>
        </header>
        <section class="comments">
            <ul class="comments__list">

            </ul>
        </section>
        <section class="add-comment">
            <div class="add-comment__title">
                Ваш отзыв
            </div>
            <input type="text" class="add-comment__input userName" placeholder="Укажите Ваше имя">
            <input type="text" class="add-comment__input locationName" placeholder="Укажите место">
            <textarea placeholder="Оставьте Ваш отзыв"  name="text" id="comment-text" cols="30" rows="10" class="add-comment__text"></textarea>
        </section>
        <footer class="modal__footer">
            <button class="add-button">Добавить</button>
        </footer>
    </div>
</div>
