<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://use.fontawesome.com/d56d673749.js"></script>
</head>
<body>

{{> "./index-content.hbs"}}

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-6g983CkZ4gXQKy_xacs7a_SdixE3d14&callback=initMap">
</script>
</body>
</html>